body {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  padding-top: 54px;
  color: #868e96;
}
html{
  scroll-behavior: smooth;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
.work-title {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 600;
  text-transform: uppercase;
  color: #343a40;
}
h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2rem;
}
p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}
.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.5rem;
}
.social-icons a {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1rem;
  line-height: 2rem;
  margin-right: 1rem;
}
.social-icons a:last-child {
  margin-right: 0;
}
.social-icons a:hover {
  background-color: #000;
}
.navbar {
  background-color: #fff;
}
#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color:#343a40; 
}
.nav-link:hover {
  color:#495057!important;
}
.navbar-toggler{
  border-color: #343a40!important;
}
@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}
section.work-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
}
section.work-section .work-item .work-date {
  min-width: none;
}
@media (min-width: 768px) {
  section.work-section {
    min-height: 100vh;
  }
  section.work-section .work-item .work-date {
    min-width: 18rem;
  }
}
@media (min-width: 992px) {
  section.work-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}
a:hover, a:focus, a:active {
  color: #343a40;
}
.work-container{
  overflow: hidden;
  color: #fff;
  border: 0;
  height:8rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
  margin-bottom: 1rem;
}
.mcb{
  background-image: url(../img/Maison_de_la_culture_Bourges_2021_large.jpg);
}
.voet{
  background-image: url(../img/VV_IntoTheOpen_AB©DannyWillems_0DS9987-1920x636.jpg);
}
.coop{
  background-image: url(../img/CRP-Balkans-for-web1.jpeg);
}
.cbai {
  background-image: url(../img/cbai-banner.jpg);
}
.cult{
  background-image: url(../img/cult-banner.jpg);
}
.odc {
  
  background-image: url(../img/odcBanner.png);
}
.noodle{
  background-image: url(../img/noodle.jpg);
}
.gds{
  background-image: url(../img/GDS.jpg);
}
.allezcine{
  background-image: url(../img/allezcine.jpg);
}
.work-title {
  color: #fff;
  font-size: 1.8rem;
  
  transition: transform .5s ease;
  position: relative;
}
.work-title:hover{
  transform: scale(1.2);
}
button:focus{
  outline:none;
}
.work-content>h3{
  margin-top: 1rem;
}
.screenshot, .screenshot-img{
  padding:0;
}
.screenshot-img{
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
}
.tools, .github-work{
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
.external-link{
  filter: invert(1);
}
.img-tool{
  max-width : 100%;
height: auto;
display: block;
}
#send-message{
  background-color: #464646;
}
#send-message:hover{
background-color: #000;
}